# Previously...
We saw how to deal with the classifiction problems using our 2nd learned method known as KNN for classifiation.

**Now the thing is** when we tried to fit the data from the *Titanic* dataset  

with Logistic, **~ 82%** accuracy.  
with KNN, **~ 85% (with scaling)**,  

Now I want to try it out, whether we can have some kind of same output here or not...

And yeah our same `WITH and WITHOUT` scaling mode!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('Titanic_TRAIN.csv')
means = train.groupby('Pclass')['Age'].mean()

def fill(class_age):
    if pd.isnull(class_age[1]):
        return means[class_age[0]]
    return class_age[1]

train['Age'] = train[['Pclass', 'Age']].apply(fill, axis=1)
train.drop('Cabin', axis= 1, inplace= True)
train.dropna(subset= ['Embarked'], inplace= True)

train = pd.get_dummies(train, columns= ['Sex', 'Embarked'], drop_first= True)
train.drop(['Name', 'Ticket', 'PassengerId'], axis= 1, inplace= True)

train

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.00000,1,0,7.2500,1,0,1
1,1,1,38.00000,1,0,71.2833,0,0,0
2,1,3,26.00000,0,0,7.9250,0,0,1
3,1,1,35.00000,1,0,53.1000,0,0,1
4,0,3,35.00000,0,0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,27.00000,0,0,13.0000,1,0,1
887,1,1,19.00000,0,0,30.0000,0,0,1
888,0,3,25.14062,1,2,23.4500,0,0,1
889,1,1,26.00000,0,0,30.0000,1,0,0
890,0,3,32.00000,0,0,7.7500,1,1,0

# WITHOUT scaling

In [3]:
X = train.drop(['Survived'], axis= 1)
y = train['Survived']

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size= 0.3)

###

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
rfc = RandomForestClassifier(n_estimators= 200)

In [9]:
rfc.fit(Xtrain, ytrain)

RandomForestClassifier(n_estimators=200)

###

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
pred = rfc.predict(Xtest)

In [12]:
accuracy_score(ytest, pred)

0.8576779026217228

### Without scaling! It is great!

###

# WITH scaling

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
std = StandardScaler()
X_sld = std.fit_transform(X)

In [15]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X_sld, y, test_size= 0.3)

In [16]:
rfc = RandomForestClassifier(n_estimators= 200)
rfc.fit(Xtrain, ytrain)
pred = rfc.predict(Xtest)

In [17]:
accuracy_score(ytest, pred)

0.8014981273408239

### Oops! So, the Scaling is not required in the RFC!