# DataFrames
"A Core of Pandas"

In [1]:
import numpy as np
import pandas as pd

In [68]:
data = np.random.randint(1,101,(5,6))
DF = pd.DataFrame(data= data, 
                  index= ['A','B','C','D','E'],
                  columns= ['U','V','W','X','Y','Z'])

In [53]:
DF

    U   V   W   X   Y   Z
A  22  19  63  62  23  46
B  48  54  14  28  31  92
C  74  58  34   6  76  93
D  78  98  66  99  76  43
E  16  10  22  79   2  26

### See, we can't access rows and columns by index after applying the labels like we could in Series. 
(That's bullshit. We can. Jump down a couple of cells to get amazed)

    • DataFrame is made up on series.
    • If we index like DF[column], that is a Series.
    • Well, we can access but have to put ':' there othrwise it will 
      try to catch a column.
    ~ Ex. DF['A':'C'] or DF['A':] or DF[:'C']
    
Note: Every indexing done in padas uses START and STOP as 'INCLUSIVE'

###

#### Some methods to work with.

##### Adding

In [69]:
DF['New'] = [1,2,3,4,None]

In [70]:
DF

    U   V   W   X   Y   Z  New
A  66  93  42  76  13  20  1.0
B  35  52  51  78  55  18  2.0
C  78  97  29  81  38  34  3.0
D   8  60  60  81  54  77  4.0
E  61  32   6   4  79  53  NaN

##### Dropping

In [72]:
DF.drop('New',axis= 1,inplace=True)

In [73]:
DF

    U   V   W   X   Y   Z
A  66  93  42  76  13  20
B  35  52  51  78  55  18
C  78  97  29  81  38  34
D   8  60  60  81  54  77
E  61  32   6   4  79  53

### Why Axis 0 and 1?
    Because shape of DF would be a tuple of (5,6) and to access 'Rows' we have to pass 0 and 1 for cols.

### See DF is made of Series.

In [74]:
type(DF)

pandas.core.frame.DataFrame

In [76]:
type(DF.X) # Yes, we can call cols without []...

pandas.core.series.Series

### Grab Multiple columns

In [81]:
DF[['U','X']]

    U   X
A  66  76
B  35  78
C  78  81
D   8  81
E  61   4

#### Forming question? Why only columns? How to access the rows?
Here is the answer: use DF.loc[ ] or DF.iloc[ ]
##### Bullshit solved.

In [82]:
DF.loc['A']

U    66
V    93
W    42
X    76
Y    13
Z    20
Name: A, dtype: int32

In [83]:
DF.iloc[0]

U    66
V    93
W    42
X    76
Y    13
Z    20
Name: A, dtype: int32

In [85]:
DF.loc[:,:]

    U   V   W   X   Y   Z
A  66  93  42  76  13  20
B  35  52  51  78  55  18
C  78  97  29  81  38  34
D   8  60  60  81  54  77
E  61  32   6   4  79  53

In [87]:
DF.iloc[:3,2]

A    42
B    51
C    29
Name: W, dtype: int32

## QUESTION.

Why iloc / loc being a method, can use [ ] instead of ( ) ?

    Answer: Because 'iloc' uses __getitem__ in its class def.
    
    Amazing right?
    
Read more here:    
• Answer:

https://www.reddit.com/r/learnpython/comments/dtqmys/why_does_iloc_use_square_brackets_instead_of/

• Explanation:

https://www.geeksforgeeks.org/__getitem__-in-python/

# NEW!

### With __getitem__  we can make object 'indexable' !
    As we can make 'callable' with __call__ method.

In [127]:
# Continued in Part 2.